<!-- Footer Start -->

<div class="modern-footer">
  <div class="container py-5">
    <div class="row g-5">
      <!-- LOGO / ABOUT -->

      <div class="col-lg-4 col-md-6">
        <h2 class="footer-logo">
          <i class="fa fa-utensils me-2"></i>
          Restaurant
        </h2>

        <p class="footer-text">
          Modern Restaurant Management System built using Angular & Spring Boot.
        </p>
      </div>

      <!-- PROJECT INFO -->

      <div class="col-lg-4 col-md-6">
        <h5 class="footer-title">About Project</h5>

        <p class="footer-text">
          Graduation Project developed using Angular 16, Spring Boot, Oracle
          Database and JWT Authentication.
        </p>

        <p class="footer-text">
          Restaurant Management System with Orders, Notifications, Cart, Contact
          Messages and Admin Dashboard.
        </p>
      </div>

      <!-- SOCIAL -->

      <div class="col-lg-4 col-md-12">
        <h5 class="footer-title">Connect With Me</h5>

        <div class="social-icons">
          <a href="#">
            <i class="fab fa-github"></i>
          </a>

          <a href="#">
            <i class="fab fa-linkedin"></i>
          </a>

          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>

          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- COPYRIGHT -->

  <div class="footer-bottom">
    <p>
      © 2026 Restaurant System — Developed by
      <span class="developer-name"> KHALEL KHALEL </span>
    </p>
  </div>
</div>

<!-- Footer End -->
