<div class="dropdown">
  <button
    class="btn btn-dark position-relative dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
  >
    <i class="fa fa-bell text-warning"></i>

    <span
      *ngIf="notifications.length > 0"
      class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
    >
      {{ notifications.length }}
    </span>
  </button>

  <ul class="dropdown-menu dropdown-menu-end shadow p-2" style="width: 320px">
    <li *ngIf="notifications.length === 0" class="text-center text-muted p-2">
      No Notifications
    </li>

    <li *ngFor="let n of notifications">
      <div class="dropdown-item border-bottom py-2">
        <div class="fw-bold">
          {{ n.message }}
        </div>

        <small class="text-muted">
          {{ n.createdAt | date: "short" }}
        </small>
      </div>
    </li>
  </ul>
</div>
